<div class="body">
  <mat-card class="wrap">
    <img src="images/logo.png" class="logo">
    <div class="wrapper">
      <h1 class="title">Prijava</h1>

      <mat-form-field id="mat-form-field">
        <mat-label>Korisničko ime</mat-label>
        <input matInput placeholder="Korisničko ime" >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Lozinka</mat-label>
        <input matInput placeholder="Lozinka">
      </mat-form-field>

      <mat-divider></mat-divider>

      <button mat-raised-button routerLink="/dashboard">Prijava</button>
      <p>Zaboravljena lozinka?</p>
    </div>

  </mat-card>

</div>
