// Primary colors
$accent: #FC9E4F;
$background: #F1F4F1;
$black: #0D0A0B;
$black-50: #828282;
$white: #FFFFFF;

// Secondary colors
$green: #39402F;
$green-80: #657153;
$green-60: #C6CDBB;
$green-40: #DFE3D9;
$green-20: #F1F4F1;
$green-10: #EBEEE7;

$active: #3FA600;
$purple: #787EFF;