<div class="sidebar" >
  <img src="images/logo.png" alt="Logo" class="logo">
  <nav>
    <ul>
      <li><a routerLinkActive="active" routerLink="/dashboard"><span class="material-symbols-outlined">home</span> Dashboard</a></li>
      <li><a routerLinkActive="active" routerLink="#"><span class="material-symbols-outlined">calendar_month</span> Raspored</a></li>
      <li><a routerLinkActive="active" routerLink="#"><span class="material-symbols-outlined">database</span> Baza podataka</a></li>
      <li><a routerLinkActive="active" routerLink="#"><span class="material-symbols-outlined">inventory</span> Briefing osoblja</a></li>
      <li><a routerLinkActive="active" routerLink="#"><span class="material-symbols-outlined">event_note</span> Roster</a></li>
      <li><a routerLinkActive="active" routerLink="#"><span class="material-symbols-outlined">groups</span> Osposobljavanje</a></li>
      <li><a routerLinkActive="active" routerLink="/working-hours"><span class="material-symbols-outlined">schedule</span> Obračun radnih sati</a></li>
      <div class="bottom">
        <li><a routerLinkActive="active" routerLink="#"><span class="material-symbols-outlined">settings</span> Postavke</a></li>
        <li><a routerLinkActive="active" routerLink="#"><span class="material-symbols-outlined">power_settings_new</span> Odjava</a></li>
      </div>
    </ul>
  </nav>
</div>


